body {
    height: 100vh;
}
.home_container {
    width: 100%;
    height: auto;
}

.home_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem !important;
    background-color: #f1f1f1 !important;
}

.home_week {
    margin: 0 3px;
    color: black;
}

.contents_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px - 2rem);
    background-color: #e1e1e1;
}

.home_contents {
    width: 50%;
    background-color: #f1f1f1;
    overflow: scroll;
}

.home_side {
    width: 25%;
    background-color: white;
}
