@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

.user_container {
    width: 300px;
    height: 100vh;
    float: left;
    padding: 80px;
    border-right: #e5e5e5 20px solid;
}

.user_image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.user_name {
    font-size: 30px;
    font-weight: 500;
}

.user_description {
    font-size: 18px;
    font-weight: 400;
}

.user_button {
    width: 300px;
    height: 36px;
    background-color: #e5e5e5;
    border: gray 1px solid;
    margin: 10px 0;
}

.user_like {
    width: 300px;
    height: 300px;
    font-size: 18px;
    border-radius: 150px;
}

.post_container {
    width: 980px;
    margin-left: 480px;
}

.post {
    padding: 56px 65px;
    border-bottom: #e5e5e5 1px solid;
}

.post_tag {
    width: 107px;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    background-color: #524fa1;
    border: 0;
    border-radius: 35px;
    margin: 0 10px 10px 0;
}

.post_title {
    height: 60px;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 10px 0;
}

.post_description {
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #194aa6;
    margin: 0 0 13px 0;
}

.post_date {
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.45;
    color: #000000;
    margin: 0 0 13px 0;
}
