@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Noto Sans KR", sans-serif;
}

.post_container {
    width: 980px;
}

.post {
    padding: 56px 65px;
    border-bottom: #e5e5e5 1px solid;
}

.post_tag {
    width: 107px;
    height: 35px;
    font-size: 15px;
    color: #ffffff;
    background-color: #524fa1;
    border: 0;
    border-radius: 35px;
    margin: 0 10px 10px 0;
}

.post_title {
    height: 60px;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 10px 0;
}

.post_description {
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #194aa6;
    margin: 0 0 13px 0;
}

.post_date {
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.45;
    color: #000000;
    margin: 0 0 13px 0;
}
